* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,
body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    width: 100%;
    height: 100%;
}

.inner-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(to right,
            #ffffff,
            #ece9e6);
}

.lefttab {
    width: 70%;
    min-height: 100vh;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
}

.search-engine {
    float: right;
}

input {
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.425);
    padding: 7px 14px;
}

.light-text {
    color: #0e0e0e9a;
    font-size: 18px;
    font-weight: 400;
}

.colorgreen {
    color: #3D7EAA;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
}

/* TOP NAVBAR STYLE */
.nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #9294BB;
}